@import 'swiper/swiper-bundle.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 400;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Regular.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 400;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Regular-Italic.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 250;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Thin.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 250;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Thin-Italic.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 300;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Light.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 300;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Light-Italic.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 500;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Medium.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 500;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Medium-Italic.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 700;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Bold.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 700;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Bold-Italic.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: normal;
  font-weight: 900;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Black.otf);
}

@font-face {
  font-family: hvdtrial brandon grotesque;
  font-style: italic;
  font-weight: 900;
  src: local('HvDTrial Brandon Grotesque'), url(/font/Brandon-Grotesque-Black-Italic.otf);
}

.umbraco-content-page-content-item-section {
}

.swiper-button-next {
  @apply bg-black rounded-full !w-10 !h-10 !right-0
}

.swiper-button-next:after {
  @apply !text-xs text-white;
}

.swiper-button-prev {
  @apply bg-black rounded-full !w-10 !h-10 !left-10;
}

.swiper-button-prev:after {
  @apply !text-xs text-white;
}

.swiper-custom-bullet-active {
  @apply border-2 border-gray-500
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background {
  @apply !bg-transparent;
}

.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background.h-14.py-2 {
  @apply !bg-transparent;
}

.pay-radio:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.pay-radio:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

@media(max-width: 1024px) {
  .navbar-height-proxy {
    --navbar-height-injected: 152px;
  }
}
