@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

body {
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

@layer base {
  html {
    font-family: 'HvDTrial Brandon Grotesque', system-ui, sans-serif;
  }
}


.aldi-text-color {
  @apply text-[#f05322]
}

.aldi-bg-color {
  @apply bg-[#f0dfdc]
}


.swiper-button-next {
  @apply bg-black;
  @apply rounded-full;
  @apply w-10 !important;
  @apply h-10 !important;
  @apply right-0 !important;
}

.swiper-button-next:after {
  @apply text-xs !important;
  @apply text-white;
}

.swiper-button-prev {
  @apply bg-black;
  @apply rounded-full;
  @apply w-10 !important;
  @apply h-10 !important;
  @apply left-0 !important;
}

.swiper-button-prev:after {
  @apply text-xs !important;
  @apply text-white;
}

.swiper-custom-bullet-active {
  @apply border-2 border-gray-500
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-unit-10.min-h-unit-10.rounded-medium.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background {
  background: transparent !important;
}

.relative.w-full.inline-flex.tap-highlight-transparent.shadow-sm.px-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.min-h-unit-10.rounded-medium.flex-col.items-start.justify-center.gap-0.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background.h-14.py-2 {
  background: transparent !important;
}

.pay-radio:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.pay-radio:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #000000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
